<html>
  <head>	
    <title>History</title>
    <meta charset="utf-8">
  </head>

  <body>
    <h2> History </h2>
    <% sums.forEach((sum) => { %>
      <p> Num1: <%= sum.num1 %>, Num2: <%= sum.num2 %>, Result: <%= sum.result %> </p>
    <% }); %>
  </body>
</html>
