<html>
  <head>	
    <title>Result</title>
    <meta charset="utf-8">
  </head>

  <body>
    <p>The result of the calculation is <%= result %></p>
    <a href="/"> Add two new numbers </a>
    <p>
      <a href="#">Show History</a> 
    </p>
  </body>
</html>
